@font-face {
  font-family: QuicksandBook;
  src: url(/fonts/Quicksand_Book.otf) format("opentype");
}

@font-face {
  font-family: QuicksandBookOblique;
  src: url(/fonts/Quicksand_Book_Oblique.otf) format("opentype");
}
